


.main {
    background: #ececec;
}

.container {
    overflow: auto;
    height: 100vh;
    margin-left: 240px;
}

.box {
    width: 100%;
    min-height: calc(~"100vh - 168px");
}

.content {
    background: #fff;
    height: 200px;
    margin: 20px;
}