
.aside {
    background: #404040;
    position: absolute;
    width: 240px;
    height: 100%;
}

.logo {
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin: 28px 0;
    overflow: hidden;

    img {
        width: 40px;
        margin-right: 8px;
    }

    span {
        vertical-align: text-bottom;
        font-size: 16px;
        text-transform: uppercase;
        display: inline-block;
    }
}



.collapse{
    color: red;
    width: 100px;

    div>span {
        i {
            font-size: 20px;
        }
        span {
            display: none;
        }
    }
}
